*{
  box-sizing: border-box;
}

body{
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Rubik", "Arial", sans-serif ;
  font-style: 16px;
  line-height: 22px;
  background-color: #fff;
  color: #4a4b4c;
}

*:focus {
  outline: 2px dashed #7296EC;
  outline-offset: 3px;
}

.button {
  display: inline-block;
  font-size: 16px;
  line-height: normal;
  padding: 13px 20px;
  border-radius: 10px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

.container{
  width: 100%;
  max-width: 1240px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}


.sayt-header-top {
  margin-bottom: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #f6f6f6;
}

.sayt-header-top-container {
  display: flex;
  align-items: center;
}

.header-logo-img{
  margin-right: 35px;
}

.logo-img {
  display: flex;
  padding: 8px 6px;
  border-radius: 7px;
  background-color: #fff;
}

.logo-img:hover{
  opacity: 0.8;
}

.logo-img:active{
  opacity: 0.6;
}

.currens-rates {
  display: flex;
  padding: 0;
  margin: 0;
  margin-right: auto;
  align-items: center;
  list-style-type: none;
}

.currens-rates-type {
  color: #2959ce;
}

.currency-rates-item:not(:last-child){
  margin-right: 25px;
}

/* GLOBAL-SEARCH-FORM */

.global-search-form{
  margin-right: 25px;
}

.global-search-form-input{
  padding-top: 15px;
  padding-left: 40px;
  padding-right: 20px;
  padding-bottom: 13px;
  border-radius: 60px;
  border: 0;
  background-color: #fff;
}

.lang-toggle {
  display: flex;
  padding: 3px;
  margin-right: 25px;
  border-radius: 39px;
  background-color: #dce6ff;

}
.lang-toggle-link {
  width: 30px;
  height: 30px;
  font-size: 13px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  color:#a6a6a6;
}


.lang-toggle-link-active {
  color: #000;
  background-color: #fff;
}

.button-primary {
  color: #fff;
  background-color: #7296EC;
}

.button-primary:hover{
  opacity: 0.8;
}

.button-primary:active{
  opacity: 0.6;
}


.stenav {
  font-size: 18px;
  line-height: normal;
  font-weight: 500;
  margin-bottom: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #d1d1d1;
}

.sitenav-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.sitenav-item:not(:last-child){
  margin-right: 34px;
}

.sitenav-link {
  display: block;
  color: #7F7F7F;
  text-decoration: none;
}

.sitenav-link:hover{
  color: #7296EC;
}

.sitenav-link:active{
  opacity: 0.6;
}

.site-header-banner-link{
  display: flex;
}


/* MAIN CONTENT */

.main-content{
  flex-grow: 1;
  padding-top: 50px;
}


/* NEWS-GRID */

.news-grid {
  display: flex;
  flex-wrap: wrap;
  margin-right: -10px;
}
.news-grid-item {
  margin-right: 10px;
  width: 393px;
}

.article-card{
  display: flex;
  flex-direction: column;
  padding: 20px 17px 15px;
  border-radius: 15px;
  background-color: #f6f6f6;
}

.article-card-title {
  margin-top: 0;
  font-size: 20px;
  line-height: 26px;
  font-weight: 500;
  margin-bottom: 10px;
}

.article-card-link {
  display: inline-block;
  color: #000;
  text-decoration: none;
}

.article-card-link:hover{
  color: #7296EC;
}

.article-card-link:active{
  opacity: 0.6;
}

.article-card-text {
  margin-top: 0;
  margin-bottom: 15px;
}

.article-card-img{
  display: block;
  width: 360px;
  height: 165px;
  margin-top: auto;
  margin-bottom: 16px;
  border-radius: 10px;
  object-fit: cover;
}

.article-card-footer {
  display: flex;
  align-items: center;

}

.article-card-source-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border-radius: 5px;
}

.article-card-source-time {
  font-size: 12px;
  line-height: normal;
  color: #5E5F61;
}
.article-card-source {

}